<script lang='ts'>
  import { onMount } from 'svelte'
  import type { TaskRequest } from '../model'
  import { refreshToday } from '../store'

  const coreUrl = import.meta.env.VITE_CORE_URL  
  
  let alreadySaidHello = false
  onMount(async () => {
    const response = await fetch(`${coreUrl}/hello`)
    if (response.status == 200) {
      alreadySaidHello = true
      console.log('Hello already done for today')
    } else if (response.status == 204) {
      console.log('No yet Hello for today')
    } else {
      console.log(`Bug ${response.status}`)
    }
  })

  let state: string = '🌇'
  const sayHello = async () => {
    const response = await fetch(`${coreUrl}/hello`, {method: 'PUT'})
    if (response.ok) {
      alreadySaidHello = true
      state = '☀️'
      refreshToday.update(() => true)
    } else {
      state = '🌧️'
    }
  }
  let newTask: TaskRequest = {is_a_break: false, is_ignored: false}

  const addTask = async () => {
    newTask.key = new Date().toLocaleString([], { timeZoneName: "short" })
    const response = await fetch(`${coreUrl}/task`, {
      method: 'POST', 
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(newTask)
    })
    if (response.ok) {
      newTask = {is_a_break: false, is_ignored: false}
      refreshToday.update(() => true)
    }
  }
</script>

{#if !alreadySaidHello }
  <button on:click={sayHello}>
    {state} Say Hello {state}
  </button>
{:else}
  <form on:submit|preventDefault={addTask}>
    <fieldset>
      <input type='text' id='project' name='project' placeholder='Project' bind:value={newTask.project} />
      <input type='text' id='task' name='task' placeholder='Task desc' bind:value={newTask.task} required />
    </fieldset>
    <fieldset>
      <input type='checkbox' name='break'   bind:checked={newTask.is_a_break}   /><label for='break'>is a break</label>
      <input type='checkbox' name='ignored' bind:checked={newTask.is_ignored} /><label for='ignored'>to be ignored</label>
    </fieldset>
    <button type="submit" disabled={!newTask.task} >✔️</button>
  </form>
{/if}
