<script lang="ts">
  import { onMount } from 'svelte'
  import type { TasksResponse } from '../model';
  import { refreshToday } from '../store'
  const coreUrl = import.meta.env.VITE_CORE_URL

  let tasks: TasksResponse = {items: []}

  async function fetchData() {
    const response = await fetch(`${coreUrl}/tasks/today`)
    if (response.ok) {
      tasks = await response.json()
    } else {
      console.error('Error getting today tasks.')
    }
  }

  onMount(async () => {
    await fetchData()
  })

  refreshToday.subscribe(async (value) => {
    if (value) {
  		await fetchData()
      refreshToday.update(v => false)
    }
	})

</script>

<div class=today>
  <table>
    <caption>Today's tasks list</caption>
    <thead>
      <tr>
        <th>Date time</th>
        <th>Duraction</th>
        <th>Project</th>
        <th>Tasks</th>
        <th>Break</th>
      </tr>
    </thead>
    <tbody>
      {#each tasks.items as task (task.key)}
      <tr>
        <td>{task.time_}</td>
        <td>{(task.duration != 0) ? `${task.duration} sec` : ''}</td>
        <td>{(task.project) ? task.project : ''}</td>
        <td class=taskCol>{task.task}</td>
        <td>{(task.is_a_break) ? '✔️' : ''}</td>
      </tr>
      {/each}
    </tbody>
  </table>
</div>

<style>
  .today {
    background-color: #1a1a1a;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
  }

  .today table {
    width: 100%;
  }

  .taskCol {
    text-align: left;
  }
</style>
