<script lang="ts">
  import duttLogo from '/dutt.webp'
  import AddTask from './components/AddTask.svelte'
  import Report from './components/Report.svelte'
</script>

<main>
  <div class="card">
    <img src={duttLogo} alt="dutt logo" class="logo" />
  </div>
  <div class="card">
    <AddTask />
  </div>
  <div class="card">
    <Report />
  </div>
</main>

<style>
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
</style>
